@{
    ViewBag.Title = "Mi Translator";
}

<div class="jumbotron">
    <h1>Mi Translator</h1>
    <p class="lead">Translator application designed users to add their keys and translator can login to the system and translate keys</p>
    <p><a href="https://asp.net" class="btn btn-danger btn-lg">Know more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" style="width: 100%; height: 180px; display: block;" alt="100%x180" src="~/Images/win.jpg" data-src="holder.js/100px180/" data-holder-rendered="true">
            <div class="card-block">
                <h4 class="card-title">Windows</h4>
                <p class="card-text">Please click download the your fav translations.</p>
                <a href="#" class="btn btn-primary">Download</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" style="width: 100%; height: 180px; display: block;" alt="100%x180" src="~/Images/ios.jpg" data-src="holder.js/100px180/" data-holder-rendered="true">
            <div class="card-block">
                <h4 class="card-title">IOS</h4>
                <p class="card-text">Please click download the your fav translations.</p>
                <a href="#" class="btn btn-primary">Download</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" style="width: 100%; height: 180px; display: block;" alt="100%x180" src="~/Images/android.jpg" data-src="holder.js/100px180/" data-holder-rendered="true">  <div class="card-block">
                <h4 class="card-title">Android</h4>
                <p class="card-text">Please click download the your fav translations.</p>
                <a href="#" class="btn btn-primary">Download</a>
            </div>
        </div>
    </div>
</div>