body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}
.navbar-inverse .navbar-nav > li > a {
    color: #f8f4f4;
}
.navbar-inverse .navbar-brand {
    color: #fbf5f5;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: rgba(205, 40, 39, 0.55);
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}